<footer id="footer" class="overflow-hidden bg-black pt-5">
    <div class="container">
        <div class="row">
            <div class="footer-top-area">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu">
                            <img src="/images/main-logo.png" class="logo">
                            <p style="color: #fff;"> Chúng tôi tin rằng bạn sẽ yêu thích điện thoại này ngay từ lần đầu tiên bạn cầm nó vào tay. Hãy đến cửa hàng của chúng tôi để trải nghiệm sản phẩm này và cùng chúng tôi khám phá thế giới công nghệ mới mẻ!
                            </p>
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="#">
                                            <svg class="facebook">
                  <use xlink:href="#facebook" />
                </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="instagram">
                  <use xlink:href="#instagram" />
                </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="twitter">
                  <use xlink:href="#twitter" />
                </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="linkedin">
                  <use xlink:href="#linkedin" />
                </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="youtube">
                  <use xlink:href="#youtube" />
                </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 pb-3">
                        <div class="footer-menu text-uppercase">
                            <h5 class="widget-title pb-2" style="color: #ffff;">Đường dẫn nhanh</h5>
                            <ul class="menu-list list-unstyled text-uppercase">
                                <li class="menu-item pb-2">
                                    <a href="#" style="color: #ffff;">Trang Chủ</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#" style="color: #ffff;">Thông Tin</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#" style="color: #ffff;">Cửa hàng</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#latest-blog" style="color: #ffff;">Blogs</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#" style="color: #ffff;">Liên Hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu text-uppercase">
                            <h5 class="widget-title pb-2" style="color: #ffff;">Trợ giúp & Thông tin Trợ giúp</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item pb-2">
                                    <a href="#" style="color: #ffff;">Theo dõi đơn hàng của bạn</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#" style="color: #ffff;">Chính sách hoàn trả</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#" style="color: #ffff;">Liên hệ chúng tôi</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#" style="color: #ffff;">Câu hỏi thường gặp</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu contact-item">
                            <h5 class="widget-title text-uppercase pb-2" style="color: #ffff;">Contact Us</h5>
                            <p style="color: #ffff;">Bạn có bất kỳ thắc mắc hoặc gợi ý nào không?<a href="mailto:" style="color: #f5f5f5; text-decoration: solid underline;">ducbinhnguyennd@gmail.com</a>
                                <p style="color: #ffff;">Bạn có bất kỳ thắc mắc hoặc gợi ý nào không? <a href="mailto:" style="color: #ffff;">9mobile251@gmail.com</a>
                                </p>
                                <p style="color: #ffff;">Nếu bạn cần hỗ trợ? Hãy gọi cho chúng tôi. <a href="" style="color: #ffff;">+0812 251 251</a>
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="container">
        <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-md-4 col-sm-6">
                <div class="Shipping d-flex">
                    <p style="color: #fff;">We ship with:</p>
                    <div class="card-wrap ps-2">
                        <img src="/images/dhl.png" alt="visa">
                        <img src="/images/shippingcard.png" alt="mastercard">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="payment-method d-flex">
                    <p style="color: #fff;">Các phương thức thanh toán:</p>
                    <div class="card-wrap ps-2">
                        <img src="/images/visa.jpg" alt="visa">
                        <img src="/images/mastercard.jpg" alt="mastercard">
                        <img src="/images/paypal.jpg" alt="paypal">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="copyright">
                    <p style="color: #fff;">© Copyright 2023 9Mobile. Design by Nguyễn Đức Bình
                        <a href="https://templatesjungle.com/"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>